* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    width: 100vm;
    height: 100vh;
    overflow-x: hidden;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
}
/* Keyframe animations */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-50px);
   }
    to {
        opacity: 1;
        transform: translateY(0);
   }
}
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(50px);
   }
    to {
        opacity: 1;
        transform: translateY(0);
   }
}
@keyframes zoomIn {
    from {
        transform: scale(0.5);
        opacity: 0;
   }
    to {
        transform: scale(1);
        opacity: 1;
   }
}
/*navbar*/
.nav-item a {
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    text-transform: uppercase;
}
.nav-item .active {
    transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
}
.nav-item a:hover {
    color: yellow;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
/*end navbar*/
/*section one*/
#header, #home {
    background: url('img/bg-header.png') no-repeat center fixed;
    background-size: cover;
}
#home {
    max-width: 1920px;
    width: 100%;
    margin: auto;
    padding: 3% 7%;
}
#home .cont {
    width: 50%;
}
#home .cont h1 {
    color: white;
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
}
#home .cont p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    font-size: 1.2rem;
}
#home .cont .btn {
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
}
/*special-dishes*/
#special-dishes, #chef, .chef {
    background: scroll;
    background-size: cover;
    background-color: black;
    padding: 20px;
    overflow: hidden;
    box-sizing: border-box;
}
#special-dishes h2, #chef h2, .chef h2 {
    color: white;
    font-weight: bold;
    font-size: 2.5rem;
    text-transform: uppercase;
    text-align: center;
}
#special-dishes h2 span, #chef h2 span, .chef h2 span {
    font-size: 3rem;
}
#special-dishes p, #chef p, .chef p {
    color: darkgray;
    font-size: 1.3rem;
    text-align: center;
    padding: 10px;
}
#special-dishes .card, #chef .card, .chef .card {
    background-color: inherit;
    height: 80vh;
    box-sizing: border-box;
}
#special-dishes .card :hover, #chef .card :hover, .chef .card :hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
#special-dishes .card .card-body, #chef .card .card-body, .chef .card .card-body {
    text-align: center;
    color: white;
}
#special-dishes .card .card-body h3, #chef .card .card-body h3, .chef .card .card-body h3 {
    font-size: 1.3rem;
}
#special-dishes .card .card-body .card-text, #chef .card .card-body .card-text, .chef .card .card-body .card-text {
    font-size: 0.9rem;
    width: 120%;
    position: relative;
    left: -20px;
}
#special-dishes .card {
    flex-wrap: wrap;
    transition: transform 0.3s ease-in-out;
    -webkit-transition: transform 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out;
}
#special-dishes .card .price {
    color: yellow;
    font-size: 1rem;
    font-weight: bold;
}
#special-dishes .card img {
    width: 200px;
    height: 200px;
}
.carousel-control-prev-icon, .carousel-control-next-icon {
    position: relative;
    top: 200px;
    width: 20px;
    margin-bottom: 20px;
}
.carousel-control-prev-icon {
    right: -450px;
}
.carousel-control-next-icon {
    left: -440px;
}
.card:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
}
/*end special-dishes*/
/*end section one*/
/*start section two*/
/* about */
.about {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 20px;
    background: scroll;
    background-size: cover;
    background: url('img/bg-pattern.jpg') no-repeat center;
    background-size: cover;
    padding-top: 100px;
    padding-right: 20px;
    padding-left: 20px;
}
.about .about-img img {
    width: 30rem;
}
.about .about-img a {
    position: relative;
    top: -350px;
    right: -230px;
    width: 70px;
    height: 70px;
    color: #000;
    text-decoration: none;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: yellow;
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
}
.about .about-img a:hover {
    color: aliceblue;
    background: azure;
}
.about .about-content h2 {
    color: white;
    font-size: 3.2rem;
    word-spacing: -0.3rem;
    font-weight: bold;
    text-transform: uppercase;
}
.about .about-content p {
    color: #8b8d84;
}
.about .advantage {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 20px;
}
/*end about */
/*offer*/
#offer {
    background: url('img/bg-offer.png') no-repeat center fixed;
    background-size: cover;
}
#offer .offer {
    height: auto;
    padding: 50px;
}
#offer .offer h2 {
    color: white;
    font-weight: bold;
    font-size: 2.7rem;
    text-transform: uppercase;
}
#offer .offer .btn {
    font-weight: 900;
    font-size: 1.4rem;
    text-transform: uppercase;
}
/* end offer */
/*end section two*/
/*start chef*/
.chef {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
.chef .card {
    flex-flow: column;
}
.chef .card img {
    width: 200px;
    height: 200px;
}
.chef .card i {
    color: yellow;
}
/*end chef*/
/*media*/
@media screen and (max-width: 414px) {
    #home {
        text-align: center;
   }
    .about {
        flex-direction: column-reverse;
        text-align: center;
   }
    .about .about-img img {
        width: 100%;
   }
    .about .about-img a {
        width: 50px;
        height: 50px;
        top: -200px;
        right: -160px;
   }
    .chef {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
   }
    #special-dishes .card {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
   }
}
